<div class="itemsCon">
        {{#each data}}
            <div class="objectCon">
                <div class="textCon">
                    <h2>{{ Name }}</h2>
                    <p>{{ Description }}</p>
                    <a class="modelLink" href="{{ ID }}">Models >>></a>
                    <div class="prosconsCon">
                        <div class="pros"><h3>Pros</h3><p>{{ Pros }}</p></div>
                        <div class="cons"><h3>Cons</h3><p>{{ Cons }}</p></div>
                    </div>
                </div>
                <div class="imageCon">
                    <img src="images/{{ Image }}" alt="favourite thing">
                </div>
            </div>
        {{/each}}
    </div>